<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <div id="container">
    <ion-card *ngFor="let img_url of dog_img">
      <img id="dog-img" alt="image" src="{{img_url}}">
      <ion-card-header>
        <ion-card-title>Predict</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Input your name</ion-label>
          <ion-input placeholder="Enter text" type="text" [(ngModel)]="name" required></ion-input>
        </ion-item>
        <div class="button-color"><ion-button shape="round" color="medium" type="submit" (click)="showPrediction()">ENTER</ion-button></div>
      </ion-card-content>
    </ion-card>
    
  </div>
</ion-content>
